body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

select {
	text-align: right;
	background-color: #2d4a00;
	height: 20px;
	border: 0;
	border-radius: 2px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type='checkbox']:checked {
	accent-color: #728a5b;
}

input[type='number'] {
	background-color: #2d4a00;
	height: 20px;
	border: 0;
	border-radius: 2px;
	color: white;
	font-family: monospace;
	font-size: 20px;
	text-align: right;
}

input[type='number']:disabled {
	background-color: rgba(127, 127, 127, 0.33);
}

option:checked {
	background-color: white;
}

/* Levels */

.Levels {
	background-color: #66ccff;
	width: 250px;
	height: 60vh;
	text-align: center;
	float: right;
	font-size: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	top: 0;
	right: 0;
	position: absolute;
}

.LevelSelect {
	background-color: #aad7ff;
}

.LevelsButton {
	background-color: #d8f2ff;
	border-radius: 7px;
	width: 80%;
	height: 7%;
	border: 0px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#LNDiv {
	height: 52%;
	margin-top: 5px;
	color: white;
	font-size: 25px;
	overflow-y: scroll;
}

.LNButton {
	background-color: #003955;
	color: white;
	border-radius: 5px;
	border: 0;
	margin: 4px 5px;
	width: 25%;
	font-size: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition-duration: 0.2s;
}

.LNButton:hover {
	background-color: #3d8eb7;
}

.LNSel {
	background-color: #0076b1;
}

/* Palette */

.PaletteDiv {
	background-color: #768dff;
	height: 150px;
	width: calc(100% - 250px);
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	writing-mode: vertical-lr;
}

.PaletteStuff {
	vertical-align: top;
	width: calc(100% - 53px)
}

.PaletteItems {
	float: left;
	background-color: #9cadff;
	height: 130px;
	padding: 0 0 0 14px;
	width: 100%;
	writing-mode: horizontal-tb;
	font-size: 25px;
	font-weight: 600;
	overflow-y: scroll;
	text-align: left;

	box-sizing: border-box;
}

.PaletteTabs {
	float: right;
	background-color: #c4cdff;
	height: 20px;
	margin: 0;
	padding: 0;
	width: 100%;
	writing-mode: horizontal-tb;
	font-size: 0
}

.PaletteTab {
	height: 100%;
	width: calc(20% - 10px);
	margin: 0;
	font-size: 13px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 0;
	float: left;
	transition-duration: 0.5s;
}

.PaletteTabTitle {
	padding-bottom: 10px;
	margin-left: 0;
	float: left, top;
	box-sizing: border-box;
}

.PaletteButton {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	padding: 4px;
	margin: 0;
}

.PaletteSectionA {
	padding: 0 0 0 0;
	box-sizing: border-box;
	float: left;
	margin: 8px 8px 8px 8px;
	padding: 2px 6px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.1);
}

#PaletteCirclesTab {
	background-color: #ff9999;
}

#PaletteCirclesTab:hover {
	background-color: #ffbbbb;
}

#PaletteBlockersTab {
	background-color: #99ddff;
}

#PaletteBlockersTab:hover {
	background-color: #bbe9ff;
}

#PaletteMiscTab {
	background-color: #ceff99;
}

#PaletteMiscTab:hover {
	background-color: #f5ffbb;
}

#PaletteAllTab {
	background-color: #ffd199;
}

#PaletteAllTab:hover {
	background-color: #ffe4bb;
}

/* Menu */

.Menu {
	background: #c3ff8a;
	width: 260px;
	height: calc(100vh - 150px);
	text-align: center;
	float: left;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

.Menu b {
	font-size: 50px;
}

.MenuArea {
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.075);
}

.MenuAreaLabel {
	float: left;
	margin: 0 5px 5px 0;
	font-weight: 500;
	width: 100%;
	text-align: left;
	text-indent: 15px;
}

.MenuAreaEDLabel {
	font-weight: 500;
	margin-right: 15px;
	float: right;
}

.MenuWHField {
	margin: 10px;
	box-sizing: border-box;
	padding-left: 15px;
	text-indent: -15px;
	margin: 5px 5px;
}

.MenuWHFieldNum {
	margin-left: 10px;
}

.MenuAreaField {
	float: right;
	margin: 10px;
	padding-left: 15px;
	text-indent: -15px;
	margin: 5px 5px;
}

.MenuTele {
	float: right;
	margin: 10px;
	padding-left: 15px;
	text-indent: -15px;
	margin: 5px 5px;
	width: 20% !important;
}

#MenuHeight {
	margin-left: 10px;
}

#MenuGoalAdd {
	width: 90%;
	background-color: #557427;
	border: 0;
	height: 25px;
	color: white;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 4px;
	margin-bottom: 20px;
}

.MenuGoal {
	background-color: rgba(0, 0, 0, 0.2);
	border: 0;
	padding: 5px 5px 10px 5px;
	margin: 10px;
	float: center;
	border-radius: 4px;
}

.MenuGoalRemove {
	background-color: #ff4444;
	border: 0;
	border-radius: 4px;
	color: white;
	width: 20px;
	height: 20px;
	font-size: 18px;
}

/* Board */

.Board {
	position: absolute;
	top: 150px;
	left: 260px;
	width: calc(100vw - 250px - 260px);
	height: calc(100vh - 150px);
}

/* Tiles */

.Tiles {
	background-color: #ffcc66;
	width: 250px;
	height: 40vh;
	text-align: center;
	float: right;
	font-size: 50px;
	bottom: 0;
	right: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
	overflow-y: scroll;
}

.TilesTile {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5px;
	border-radius: 8px;
}

.TilesRemove {
	margin: 5px;
}

.TilesDeselect {
	background-color: #ffe1a2;
	border-radius: 7px;
	width: 90%;
	height: 40%;
	border: 0px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 4px;
}

#TilesButtonsDiv { font-size: 0px;}